<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create recipe</title>
</head>
<body>
<h1>Създаване на рецепта</h1>
<form th:action="@{/recipe/create}" th:object="${recipe}" method="post">

  <div th:if="${#fields.hasErrors('*')}">
    <ul>
      <li th:each="error : ${errors}">
        <span th:text="${error.field} : ${error.defaultMessage}"></span>
      </li>
    </ul>
  </div>


  <div th:if="${#fields.hasErrors('name')}" class="error">
    <p th:errors="*{name}"></p>
  </div>
  <label for="name">Име:</label>
  <input type="text" id="name" name="name" th:field="*{name}" required>
  <br>

  <div th:if="${#fields.hasErrors('categoryRecipe')}" class="error">
    <p th:errors="*{categoryRecipe}"></p>
  </div>
  <label for="categoryRecipe">Категория:</label>
  <select id="categoryRecipe" name="categoryRecipe" th:field="*{categoryRecipe}" required>
    <option th:each="category : ${categories}" th:value="${category}" th:text="${category}">Изберете категория</option>
  </select>
  <br>

  <div th:if="${#fields.hasErrors('description')}" class="error">
    <p th:errors="*{description}"></p>
  </div>
  <label for="description">Описание:</label>
  <textarea id="description" name="description" th:field="*{description}" required></textarea>
  <br>

<!--  <label for="products">Продукти:</label>-->
<!--  <ul>-->
<!--    <li th:each="product : ${products}"> <input type="checkbox" id="${product.id}" name="products[]" th:value="${product.id}">-->
<!--      <label th:text="${product.name}"></label>-->
<!--    </li>-->
<!--  </ul>-->
  <br>

  <button type="submit">Създаване</button>
</form>
</body>
</html>